@import url("../dojo/dijit/themes/claro/document.css");
@import url("../dojo/dijit/themes/claro/claro.css");
@import url("../dojo/dijit/themes/claro/claro_rtl.css");
@import url("../dojo/dojox/mobile/themes/iphone/iphone.css");


.mainContent{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	overflow:auto;
}

.rowStyle{
	padding:5px 5px 5px 5px;
	text-align:left;
}

.subcontent{
	padding-left:1cm;
	line-height:1.4em !important;
}

.mblTabBarStandardTab .mblTabBarButton {
	color: black;
	font-weight : normal;
}
.mblTabBarStandardTab .mblTabBarButtonSelected  {
	color: white;
}